@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

/*body {
  line-height:normal;
  background: linear-gradient(#0A0E1C, #252C44, #0A0D17);
  background-size: cover;
  background-position:top;

}*/


.camposContact{
  top: 131px;
  left: 158px;
  border-radius: 40px;
  background-color:white;
  border: 1px solid #ff730e;
  box-sizing: border-box;
  width: 920px;
  height: 50px;
  padding-top: 10px;
  margin-top: 50px;
}

.commentContact{
  top: 131px;
  left: 158px;
  border-radius: 25px;
  background-color:white;
  border: 1px solid #ff730e;
  box-sizing: border-box;
  width: 920px;
  height: 350px;
  padding-top: 10px;
  margin-top: 90px;  
}

.button {
  border-radius: 25px;
  background-color: #fb6514;
  width: 200px;
  height: 49px;
  color: #fff;
  margin-top: 40px;
  font-family: Montserrat;
}

.formBody {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;    
  letter-spacing: 0.05em;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
  color: white;
  font-family: Montserrat;
}

.formulario_contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  height: 800px;
  border-radius: 40px;
  background: linear-gradient(rgba(214, 101, 41, 0.678), #1c1c1c, rgba(255, 255, 255, 0.05));
}



.formInput{
  width: 900px;
  margin-left: 0px;
  border: none;
}

.formInputComment{
  width: 900px;
  height: 330px;
  margin-left: 0px;
  border: none;
}

@media screen and (max-width: 830px) {
  .camposContact,
  .commentContact{
    width: 310px;
  }

  .formInput,
  .formInputComment{
    width: 290px;
  }

  .formBody{
    margin-top: 20px;
  }
}

@media screen and (max-width: 375px) {
  .camposContact,
  .commentContact{
    width: 290px;
  }

  .formInput,
  .formInputComment{
    width: 270px;
  }

}



