@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

body {
  margin: 0;
  line-height:normal;
  background-image: url('https://scontent-bcn1-1.xx.fbcdn.net/v/t39.30808-6/326342168_852036582572276_1342480683664754514_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=n2nnHxnfdZ0Q7kNvgGEXlO8&_nc_ht=scontent-bcn1-1.xx&oh=00_AfCJ5gfVGryV_HG0bBCqA2Li1fylsRFN3sDaBr5bToupaQ&oe=66392196');
  background-size: cover;
  background-position:top;

}

.email,
.contraseña,
.repetirContraseña{
  top: 131px;
  left: 158px;
  border-radius: 40px;
  background-color:white;
  border: 1px solid #ff730e;
  box-sizing: border-box;
  width: 227px;
  height: 50px;
  padding-top: 10px;
  margin-top: 20px;
  margin-left: 40px;
}

.button {
  border-radius: 25px;
  background-color: #fb6514;
  width: 169px;
  height: 49px;
  color: #fff;
  margin-top: 40px;
  font-family: Montserrat;
}

.forms {
  margin: 0;
  height: 4.86%;
  width: 16.97%;
  top: 30%;
  left: 15.6%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  text-align: center;
  color: white;
  position:absolute;
  font-family: Montserrat;
}

.registro{
  position: absolute;
  background-color: rgba(214, 101, 41, 0.678); 
  width: 300px;
  height: 430px;
  border-radius: 40px;
  background: linear-gradient(rgba(214, 101, 41, 0.678), #1c1c1c, rgba(255, 255, 255, 0.05));
}



.customInput{
  border: none;
}

.yaEresUsuario {
  display: inline-block;
  z-index: 2;
  margin-top: 35px;
}













