@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");


.card,
.card1{
    width: 600px;
    height: 300px;
    border-radius: 40px;
    margin-top: 90px;
   
}


.card{
    background: linear-gradient(to top,#d666299c,  #1c1c1c58 ,  #161e363c );
}


.card1{
    background: linear-gradient(to right,rgba(214, 102, 41, 0.574), #1c1c1cfb,  #0a0e1a7e);
}



.datos{
    color: white;
    font-family: Montserrat;
    margin-right: 350px;
    font-size: small;
    margin-top: 15px;
    
}


.titulo1,
.datos1,
.titulo{
    font-family: Montserrat;
    color: white;
    margin-bottom: 20px;
}

.input{
    border-style: inherit;
    border-radius: 10px;
    padding-top:2px;
    margin-top: 6px;
    margin-left: 40px;
    width: 500px;
    background: linear-gradient(to right, rgba(247, 109, 34, 0.801), rgba(28, 28, 28, 0),  #0a0e1a4b);
    border-style: double;
}

.guardar{
    margin-top: 5px;
    border-radius: 25px;
    background-color: #f76d22cc;
    color: #fff;
    font-family: Montserrat;
    margin-left: 250px;
 }

.titulo1{
   padding-top: 20px;
}

.input::placeholder {
    color: white;
}


.videoItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.videoThumbnail {
    width: 200px; 
    height: 60px; 
    margin-right: 180px;
    padding-left: 40px;
}

.videoLink {
    color: #ff730e;
}


   





